@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css');

body {
    font-family: 'Arial', sans-serif;
    background-image: url('background.avif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #f0f8ff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 3.8rem;
    font-family: "Apple Chancery", cursive;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background: linear-gradient(45deg, #4b6cb7, #182848);
    border-radius: 15px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

h2 {
    font-size: 2.8rem;
    font-family: "Georgia", serif;
    text-align: center;
    margin-top: 20px;
    padding: 12px;
    background: linear-gradient(45deg, #6a5acd, #2c3e50);
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

h3 {
    font-size: 2rem;
    font-family: "Georgia", serif;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background: linear-gradient(45deg, #3b9d9d, #264e56);
    border-radius: 10px;
    color: #ffffff;
}

p {
    font-size: 1.3rem;
    font-family: "Merriweather", serif;
    line-height: 1.9;
    padding: 12px;
    background: rgba(0, 51, 64, 0.7);
    border-radius: 8px;
    color: #f0f8ff;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    background: rgba(37, 50, 61, 0.85);
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.8);
}

.btn-primary {
    background: linear-gradient(45deg, #3498db, #2980b9);
    color: #ffffff;
    border: none;
    padding: 150px 300px;
    font-size: 2.3rem;
    font-weight: bold;
    border-radius: 500px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: block;
    text-align: center;
    margin: 250px auto;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #2980b9, #3498db);
    box-shadow: 0px 8px 25px rgba(41, 128, 185, 0.7);
    transform: scale(1.08);
}

.home-button {
    background: linear-gradient(45deg, #3498db, #2980b9);
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 2.3rem;
    font-weight: bold;
    border-radius: 500px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: block;
    text-align: left;
    margin: 25px auto;
}

.home-button:hover {
    background: linear-gradient(45deg, #2980b9, #3498db);
    box-shadow: 0px 8px 25px rgba(41, 128, 185, 0.7);
    transform: scale(1.08);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.7rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.1rem;
    }
}
